@import "../variables.scss";

.header {
  background-color: $secondary-color;
  color: $text-color;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 24px;
  }

  .nav-desktop {
    ul {
      display: flex;
      gap: 20px;
      list-style: none;
      padding: 0;
      margin: 0;

      li {

        a,
        .logout-btn {
          color: $primary-color;
          text-decoration: none;
          font-size: 16px;
          transition: color 0.3s;

          &:hover {
            color: $hover-color;
          }
        }

        .logout-btn {
          background: none;
          border: none;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }


  .burger-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: none;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: $text-color;
    }
  }

  .nav-mobile {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: $secondary-color;
    width: 100%;
    max-width: 250px;
    padding: 10px;
    display: none;

    &.open {
      display: block;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        padding: 10px;
        text-align: center;

        a,
        .logout-btn {
          color: $primary-color;
          text-decoration: none;
          font-size: 16px;
          transition: color 0.3s;

          &:hover {
            color: $hover-color;
          }
        }

        .logout-btn {
          background: none;
          border: none;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .nav-desktop {
      display: none;
    }

    .burger-icon {
      display: block;
    }
  }
}