@use "../variables" as *;

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $secondary-color;
  color: $text-color;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 24px;
    margin: 0;
  }

  .nav-desktop {
    display: none;
  }

  .burger-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    padding: 5px;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: $text-color;
    }
  }

  .nav-mobile {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: $secondary-color;
    width: calc(100% - 40px);
    max-width: 250px;
    padding: 10px;
    display: none;
    box-sizing: border-box;

    &.open {
      display: block;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        padding: 10px;
        text-align: center;

        a,
        .logout-btn {
          color: $primary-color;
          text-decoration: none;
          font-size: 16px;
          transition: color 0.3s;

          &:hover {
            color: $hover-color;
          }
        }

        .logout-btn {
          background: none;
          border: none;
          cursor: pointer;
          font-weight: bold;
          margin-top: 5px;
        }
      }
    }
  }

  @media (min-width: 1025px) {
    .nav-desktop {
      display: block;

      ul {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;

        li {

          a,
          .logout-btn {
            color: $primary-color;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s;
            padding: 5px 10px;

            &:hover {
              color: $hover-color;
            }
          }

          .logout-btn {
            background: none;
            border: none;
            cursor: pointer;
            font-weight: bold;
            margin-left: 10px;
          }
        }
      }
    }

    .burger-icon,
    .nav-mobile {
      display: none;
    }
  }
}