@use "../variables" as *;

.create-event {
    @include form-container();

    h1 {
    @include h1-style();
    }

    .event-form {
         @include event-card-style();
    max-width: 500px;
    width: 100%;

        label {
            @include form-label();
        }

        input,
        textarea {
            padding: 10px;
            border: 1px solid $primary-color;
            border-radius: 5px;
            background: #ffffff;
            color: black;
        }

        button {
            @include button-style();
        }
    }
}