@use "../variables" as *;

.edit-event {
  @include page-container();

  h1 {
    @include h1-style();
    margin-bottom: 20px;
  }

  .event-form {
    @include event-card-style();
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 100%;

    label {
      @include form-label();
      display: flex;
      flex-direction: column;

      input,
      textarea {
        @include input-style();
        margin-top: 8px;
      }
    }

    button {
      @include button-style();
      width: 100%;
      margin-top: 12px;
    }
  }
}

// Tablettes
@media (min-width: 768px) {
  .edit-event {
    .event-form {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

// Desktops
@media (min-width: 1024px) {
  .edit-event {
    .event-form {
      max-width: 600px;
      margin: 0 auto;

      flex-direction: column;
      gap: 24px;

      label {
        width: 100%;
      }

      textarea {
        height: 140px;
      }

      button {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}