@use "../variables" as *;

.edit-event {
    
    @include page-container();

  h1 {
    @include h1-style();
  }
  .form-group {
    @include event-card-style();
    max-width: 500px;
    width: 100%;

    label {
        @include form-label();
    }

    input,
    textarea {
   @include input-style;
    }

    button {
      @include button-style();
      width: 100%;
      margin-top: 20px;
    }
  }
}