@use "../variables" as *;

.edit-event {
    
    @include form-container();

  h1 {
    @include h1-style();
  }
  .form-group {
    @include event-card-style();
    max-width: 500px;
    width: 100%;

    label {
        @include form-label();
    }

    input,
    textarea {
      padding: 10px;
      border: 1px solid $primary-color;
      border-radius: 5px;
      background: #ffffff;
      color: $secondary-color;
      margin-top: 5px;
    }

    button {
      @include button-style();
      width: 100%;
      margin-top: 20px;
    }
  }
}