@use "../variables" as *;


.event-details {
@include event-card-style();
    max-width: 80%;;
    margin: 0 auto;
    h2 {
        @include h2-style();
    }
    p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 15px;
    }
}


.event-details strong {
    color: $primary-color;
}

