@use "../variables" as *;

.home {
    padding: 20px;
    background-color: $background-color;
    text-align: center;

    h1 {
        @include h1-style(32px);
    }

    h2 {
        @include h2-style(26px);
    }

    .events-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .event-card {
            @include event-card-style;

            .details-btn {
                @include button-style(14px);
            }

            .update-btn,
            .delete-btn {
                @include button-style(14px);
            }
        }
    }

    .pagination {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .pagination-btn {
            padding: 8px 15px;
            background-color: $primary-color;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:disabled {
                background-color: $primary-color;
                cursor: not-allowed;
            }
        }

        .pageNumber {
            color: white;
            font-weight: bold;
            font-size: 16px;
        }
    }
}