@use "./styles/variables" as *;

body {
  margin: 0;
  font-family: $font-primary;
  background: $background-color;

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  main {
    min-height: 80vh;
    padding: 2rem;
    color: $text-color;
    font-family: $font-primary;
    padding: 10px;
    flex: 1;
  }
}

input,
textarea,
select {
  @include input-focus-style;
}

a {
  @include link-focus-style;
}